.form-field
	= form_tag("/admin/parents", method: :post) do
		%p.center Dear Parent, let the instructions
		.form-group
			= label_tag :first_name, nil, class: "col-md-4 control-label"
			= text_field_tag :first_name, nil, class: "col-md-4 form-control", placeholder: "Enter your name"
		.form-group
			= label_tag :last_name, nil, class: "col-md-4 control-label"
			= text_field_tag :last_name, nil, class: "col-md-4 control-label", placeholder: "Enter your surname"
		.form-group
			= label_tag :childrens, nil, class: "col-md-4 control-label"
			= text_field_tag :childrens, nil, class: "col-md-4 control-label", placeholder: "Enter your child's name"
		.form-group
			= label_tag :date_of_birth, nil, class: "col-md-4 control-label"
			= text_field_tag :date_of_birth, nil, class: "col-md-4 control-label", placeholder: "Your date of birth"
		.form-group
			= label_tag :phone_number, nil, class: "col-md-4 control-label"
			= text_field_tag :phone_number, nil, class: "col-md-4 control-label", placeholder: "Enter your name"
		.form-group
			= submit_tag
		 	