<<<<<<< HEAD
%div
	- fname, lname = @parent.get_info
	= fname
	= lname
.container
	.jumbotron
		.row
			.col-md-4.col-xs-12.col-sm-6.col-lg-4
				%img.img{:alt => "stack photo", :src => "https://www.svgimages.com/svg-image/s5/man-passportsiz-silhouette-icon-256x256.png"}/
			.col-md-8.col-xs-12.col-sm-6.col-lg-8
				.container{:style => "border-bottom:1px solid black"}
					%h2 John Doe
				%hr
				%ul.container.details
					%li
						%p
							%span.glyphicon.glyphicon-earphone.one{:style => "width:50px;"}>
							+91 90000 00000
					%li
						%p
							%span.glyphicon.glyphicon-envelope.one{:style => "width:50px;"}>
							somerandom@email.com
					%li
						%p
							%span.glyphicon.glyphicon-map-marker.one{:style => "width:50px;"}>
							Hyderabad
					%li
						%p
							%span.glyphicon.glyphicon-new-window.one{:style => "width:50px;"}
							%a{:href => "#"} www.example.com
      
=======
#content-wrapper
  .row
    .col-lg-3.col-md-3.hidden-sm.hidden-xs
      .panel.panel-default
        .panel-body
          %div{:align => "center"}
            %img.thumbnail.img-responsive{:height => "300px", :src => "https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png", :width => "300px"}/
        .panel-heading 
          %h3 Profile
        .panel-body
          %h4 Baiastan Mametjanov
          %p
            %strong Date of Birth:
            11.08.1997
          %p
            %strong Group:
            ELT -14b
          %p
            %strong Teacher:
            Bakai Taalaibek
    .col-lg-9.col-md-9
      .row
        .col-lg-9.col-md-9.col-sm-12.col-xs-12
          .panel.panel-default
            .panel-body 
              %span
                %h1.panel-title.pull-left{:style => "font-size:30px;"}
                  = @parent.full_name
                .dropdown.pull-right
                  %button.btn.btn-success.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
                    Parents
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} John Doe
                    %li
                      %a{:href => ""} Jane Doe
                    %li.divider{:role => "separator"}
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-fw.fa-plus{"aria-hidden" => "true"}
                        Add parent
              %br
              %br
              %hr/
              %ul.student-info
                %li 
                  %strong Group:
                  ELT-14b
                %li
                  %strong Teacher:
                  %a{:href => "#"} Bakai Taalaibek
                %li
                  %strong Date of Birth:
                  = @parent.date_of_birth.to_formatted_s(:long_ordinal)
                %li
                  %strong Phone number:
                  = @parent.phone_number
              %span.pull-right
                %a.btn.btn-link{:href => "#", :style => "text-decoration:none;"}
                  %i.fa.fa-lg.fa-at{"aria-hidden" => "true", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Mention"}
                %a.btn.btn-link{:href => "#", :style => "text-decoration:none;"}
                  %i.fa.fa-lg.fa-envelope-o{"aria-hidden" => "true", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Message"}
                %a.btn.btn-link{:href => "#", :style => "text-decoration:none;"}
                  %i.fa.fa-lg.fa-ban{"aria-hidden" => "true", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Ignore"}
        .col-sm-9
          %ul#myTab.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#grades-list"} Grades list
            %li
              %a{"data-toggle" => "tab", :href => "#attendance"} Attendance
            %li
              %a{"data-toggle" => "tab", :href => "#settings"} Settings
          .tab-content
            #grades-list.tab-pane.active
              %table.table.table-responsive.table-hover
                %thead
                  %tr
                    %th #
                    %th Label 1
                    %th Label 2
                    %th Label 3
                    %th Label
                    %th Label
                    %th Label
                %tbody#items
                  %tr
                    %td 1
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                  %tr
                    %td 2
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                  %tr
                    %td 3
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                  %tr
                    %td 4
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                  %tr
                    %td 5
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                  %tr
                    %td 6
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                  %tr
                    %td 7
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                  %tr
                    %td 8
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                  %tr
                    %td 9
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
                    %td Table cell
              %hr/
            / /table-resp
            .tab-pane#attendance
              %table.table.table-responsive
                %thead
                  %tr
                    %td ID
                    %td First Name
                    %td Last Name
                    %td Enter/Exit
                    %td Date
                %tbody
                  %tr.bg-success
                    %td.table-active 1
                    %td Baias
                    %td Mametjanov
                    %td came in
                    %td 19/02/2017 6:30 PM
                  %tr.bg-danger
                    %td 2
                    %td Baias
                    %td Mametjanov
                    %td came out
                    %td 19/02/2017 8:35 PM
                  %tr.bg-danger
                    %td 3
                    %td Baias
                    %td Mametjanov
                    %td came out
                    %td 19/02/2017 9:40 PM
                  %tr.bg-success
                    %td 4
                    %td Baias
                    %td Mametjanov
                    %td came in
                    %td 19/04/2017 6:40 PM
  
>>>>>>> 127cc558d94f5e4acb245507c80ed0c746fa2012
